@import 'mixin';

section{
    .cont{
        flex-direction: column;
        padding-bottom: 50px;
    }
}
h3{
    margin: 80px 0;
    font-size: 1.8rem;
    letter-spacing: 2px;
    text-align: center;
}

.heading_box{
    .bg_box{ 
        background: url('/img/sub/bg1.jpg') no-repeat center;
        background-size: cover;       
    }
}

.sec01{
    .cont{
        text-align: center;
        strong{ color:#454545;}
        p{
            color: #666565;
            line-height: 1.5;
        }
    }
}

.sec02{
    .cont{
        strong{ color:#454545;}
        p{
            color: #6b6b6b;
            line-height: 1.5;
        }
        >div{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .left{ 
                width: 65%;
                padding-right: 50px;
            }
            .right{ 
                width: 35%;
                img{ 
                    width: 100%;
                    object-fit: contain;
                }
            }
        }
    }
    h4{
        position: relative;
        margin: 80px 0;
        font-size: 1.8rem;
        letter-spacing: 2px;
    }
}

.sec03{
    background: #eee;
    .cont{ padding-top: 60px;}
    ul{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }  
    li{
        width: 18%;
        color: #6b6b6b;
        font-size: 0.9rem;
        text-align: center;
        strong{ color: black;}
        p{ padding-bottom: 25px;}
        img{ width: 70%;}
    }
}

.sec04{
    ul{ 
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    li{ 
        display: flex;
        flex: wrap;
        width: 50%;
        padding-right: 20px;
        margin-bottom: 30px;
        img{ width: 30%;}
        strong{
            color: #292c8c;
            font-size: 1.2rem;
        }
    }
    .text_wrap{ padding: 6%;}
}

.sec05{
    ul{ width: 100%;}
    li{
        border: 1px solid #ddd;
        margin-bottom: 20px;
        line-height: 2;
    }
    .icon_wrap{ 
        width: 40%;
        background: #eee;
    }
    .text_wrap{
        padding: 3%;
        width: 60%
    }
}