@import 'mixin';


h3{
    margin: 80px 0;
    font-size: 1.8rem;
    letter-spacing: 2px;
}

/* sec01 */
.sec01{
    .cont{
        display: flex;
        flex-direction: column;
    }
    ul{ 
        width: 100%;
        padding-bottom: 100px;
    }
    li{
        display: flex;
        padding: 30px;
        margin-bottom: 40px;
        strong{ font-size: 1.2rem;}
        img{
            width: 40%;
            height: 170px;
            object-fit: cover;
        }
        .text_wrap{
            position: relative;
            width: 60%;
            padding-left: 80px;
            &:before{
                left: 50px;
                width: 4px;
                height: 50%;
                background: #6165f2;
                @include aftersty;
            }
        }
    }
}
