@import 'mixin';

.sec01{
    .cont{
        flex-direction: column;
        justify-content: center;
        padding-top: 50px;
        padding-bottom: 100px;
    }
    .tab_btn{
        display: flex;
        width: 100%;
        li{
            width: calc(100% / 6);
            border: 1px solid #ddd;
            text-align: center;
            white-space: nowrap;
            a{
                display: block;
                font-size: 1.1rem;
                font-family: var(--mainFont);
                line-height: 4;
                background: white;
                padding: 0 15px;
            }
        }
        .active{
            background: var(--mainColor);
            color: white;
        }
    }
    .tab_cont{
        width: 100%;
        >div{ display: none;}
    }
    .title_box{
        padding: 80px 0;
        text-align: center;
        h4{ font-size: 3rem;}
        p{ 
            margin: 70px 0;
            line-height: 2;;
        }
    }
    .img_box{
        display: flex;
        justify-content: space-between;
        >div{
            width: 48%;
        }
        img{
            width:100%;
            height:250px;
            object-fit: cover;
        }
        p{
            line-height: 3;
            text-align: center;
        }
    }
}


@media screen and (max-width: 960px){
    .sec01{
        .tab_btn{
            flex-wrap: wrap;
            li{
                width: calc(100%/3);
                a{
                    padding: 0 10px;
                    font-size: 1rem;
                    line-height: 3;
                    word-break: break-all;
                }
            }
        }

    }
}

@media screen and (max-width: 760px){
    .sec01{
        .tab_btn li a{
                    padding: 0 10px;
                    font-size: 0.9rem;
        }
        .title_box{
            padding: 30px 0;
            h3{ margin : 30px 0; }
            p{ 
                margin: 40px 0;
                br{ display: none;}
            }
        }
        .img_box{
            img{ height: 150px;}
        }
    }
}

@media screen and (max-width: 480px){
    .sec01{
        .img_box{
            flex-wrap: wrap;
            >div{
                width: 100%;
            }
            p{margin-bottom: 40px;}
        }
    }
}