@import 'mixin';

.sec01{
    .cont{
        flex-direction: column;
        justify-content: center;
        padding-top: 50px;
        padding-bottom: 100px;
    }
    .tab_btn{
        display: flex;
        width: 100%;
        li{
            width: calc(100% / 6);
            border: 1px solid #ddd;
            text-align: center;
            white-space: nowrap;
            a{
                display: block;
                font-size: 1.1rem;
                font-family: '맑은 고딕';
                line-height: 4;
                background: white;
                padding: 0 15px;
            }
        }
        .active{
            background: var(--mainColor);
            color: white;
        }
    }
    .tab_cont{
        width: 100%;
        >div{ display: none;}
    }
    .title_box{
        padding: 80px 0;
        text-align: center;
        h4{ font-size: 3rem;}
        p{ 
            margin: 70px;
            line-height: 2;;
        }
    }
    .img_box{
        display: flex;
        justify-content: space-between;
        >div{
            width: 48%;
            height: 250px;
        }
        img{
            width:100%;
            height:100%;
            object-fit: cover;
        }
        p{
            margin-top: 20px;
            text-align: center;
        }
    }
}