@import 'mixin';

// .heading_box{
//     .bg_box{
//         background: url('/img/sub/bg3.jpg') no-repeat center;
//         background-size: cover;
        
//     }
// }

.sec01{
    .cont{
        flex-direction: column;
        padding-top: 100px;
        padding-bottom: 100px;
        >p{
            margin-right: auto;
            line-height: 1.5;
        }
    }
    h4{
        position: relative;
        font-size: 1.8rem;
        margin: 80px 0;
        letter-spacing: 2px;
    }
    .NGO, .commercial{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        &:after{
            @include aftersty;
            width: 100%;
            background: #ddd;
            height: 2px;
            bottom: 0;
        }
        li{ margin-bottom: 150px;;}
        .thumbnail{
            width: 300px;
            height: 200px;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                &:hover{
                    transform: scale(1.1);
                    transition: all 0.3s;
                }
            }
        }
        .thumbnail + p{
            font-size: 1.2rem;
            padding-top: 30px;
            font-weight: 700;
            text-align: center;
        }
    }
}