@import 'mixin';

*{ box-sizing: border-box;}

section{
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{ font-family: var(--mainFont);}

.heading_box{
    .cont{ 
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .bg_box{
        width: 60%;
        height: 150px;
    }
    h2{ 
        font-size: 1.6rem;
        letter-spacing: 2px;
    }
    span{
        font-weight: 300;
        font-size: 1.5rem;
    }
}

.cont{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    max-width: 1200px;
    padding-right: 30px;
    padding-left: 30px;
    margin: 0 auto;
}


/* header */
header{
    position: fixed;
    z-index: 100;
    width: 100%;
    background: rgb(255,255,255);
    box-shadow: 1px 3px 10px rgba(0,0,0,0.1);
    .cont{
        justify-content: space-between;
        align-items: center;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .sns{
        display: flex;
        justify-content: space-between;
        width: 70px;
        i{
            color: #535353; 
            font-size: 2rem;
        }
    }
    .logo img{
        height: 30px;
    }
}

.gnb{
    display: flex;
    li{ 
        padding: 0 12px;
        font-size: 1.1rem;
        font-family: var(--mainFont);
        letter-spacing: 2px;
        a{ color: #404047;}
    }
}

.heading_box{
    padding-top: 85px;
}

/* footer */
footer{
    padding: 50px 0;
    background: #232324;
    color: white;
    .cont{
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        >*{line-height: 2.3;}
    }
    strong{
        margin-top: 25px;
        color: #e8be00;
        font-weight: 600;
    }
    .logo{
        position: absolute;
        right: 0;
        bottom: 0;
        img{ height: 50px;}
    }
}