@import 'mixin';

*{ box-sizing: border-box;}

section{
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{ font-family: var(--mainFont);}

/* heading_box */
.heading_box{
    padding-top: 85px;
    border-bottom: 1px solid #ddd;
    .cont{
        justify-content: center;
        padding-top: 70px;
        padding-bottom: 70px;
    }
    h2{
        color: var(--mainColor); 
        font-size: 3rem;
        letter-spacing: 2px;
    }
    span{
        color: black;
        font-weight: 300;
        font-size: 2rem;
    }
}

.cont{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding-right: 30px;
    padding-left: 30px;
    margin: 0 auto;
}


/* header */
header{
    position: fixed;
    z-index: 100;
    width: 100%;
    background: rgb(255,255,255);
    box-shadow: 1px 3px 10px rgba(0,0,0,0.1);
    nav{
        display: flex;
        align-items: center;
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .sns{
        display: flex;
        justify-content: space-between;
        width: 70px;
        i{
            color: #535353; 
            font-size: 2rem;
        }
    }
    .logo img{
        height: 42px;
    }
    .ham_btn{
        display: none;
        position: absolute;
        top: 2px;
        right: 10px;
        color: var(--mainColor);
        font-size: 35px;
    }
}

.gnb{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    li{ 
        padding: 0 12px;
        font-size: 1.1rem;
        font-family: var(--mainFont);
        font-weight: 700;
        letter-spacing: 2px;
        a{ color: #404047;}
    }
}


/* footer */
footer{
    padding: 50px 0;
    background: #232324;
    color: white;
    .cont{
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        >*{line-height: 2.3;}
    }
    strong{
        margin-top: 25px;
        color: #e8be00;
        font-weight: 600;
    }
    .logo{
        position: absolute;
        right: 10px;
        bottom: 0;
        img{ height: 50px;}
    }
}


@media screen and (max-width: 960px){
    header{
        .sns{ width: 60px;
            i{font-size: 1.7rem;}
        }
        .logo img{ height: 25px;}
    }
    .gnb{
        li{ font-size: 1rem;}
    }
}

@media screen and (max-width: 860px){
    section .cont h3{ margin: 60px 0;}
    .cont{
        padding-right: 20px;
        padding-left: 20px;
    }
    .heading_box{
        .cont{
            padding-top: 50px;
            padding-bottom: 50px;
        }
        h2{ font-size: 2rem;}
    }
    header{
        nav{
            flex-direction: column; 
            align-items: flex-start;
            .gnb{
                display: none;
                flex-direction: column;
                align-items: center;
                width: 100%;
                li{ 
                    width: 100%;
                    padding: 8px;
                    text-align: center;
                }
                a{ 
                    display: block;
                    width: 100%;
                }
            }
            .sns{ display: none;}
            .ham_btn{ display: block;}
        }
        .gnb.active{
            display: flex;
        }
    }
    footer{
        padding: 30px 0 70px 0;
        .cont{
            >*{
                font-size: 0.8rem;
                line-height: 2;
            }
        }
        .logo{
            right: 10px;
            bottom: -40px;
            img{ height: 35px;}
        }
    }
}

@media screen and (max-width: 480px){
    .cont{
        padding-right: 10px;
        padding-left: 10px;
    }
    .heading_box{
        .cont{
            padding-top: 30px;
            padding-bottom: 30px;
        }
        h2{ 
            font-size: 1.5rem;
            span{ font-size: 1.3rem;}
        }
    }
    section .cont h3{
        margin: 50px 0; 
        font-size: 1.4rem;
    }
}