@import 'mixin';

section{
    width: 100%;
    .cont{
        padding-top: 250px;
        padding-bottom: 250px;
    }
    .text_box{
        position: relative;
        p{ 
            padding-top : 30px;
            line-height: 1.5;
        }
    }
}

section:not(.sec01, .sec02, .sec06){ height: 90vh;}

.more{
    position: absolute;
    right: 0;
    bottom: -100px;
    padding: 10px 20px;
    border: 1px solid transparent;
    border-radius: 25px;   
    background: var(--mainColor);
    color: white;;
    font-family: var(--mainFont);
    transition: all 0.3s ease-in-out;
    &:hover{ background: transparent;}
}

.sec03, .sec05{
    .more:hover{
        border: 1px solid var(--mainColor);
        color: var(--mainColor);
    }
} 
.sec04 .more:hover{
    border: 1px solid rgba(255,255,255,0.5);
    color: #fff;
    background: transparent;
}

h2{
    color: var(--mainColor); 
    font-size: 2rem;
    line-height: 1.5; 
}

/* sec01 */
.sec01{
    position: relative;
    height: 100vh;
    .gradient{
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, #000046, #1cb5e0, #fff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        opacity: 0.5;
    }
    .text_box{ 
       position: absolute; 
       z-index: 2; 
       top: 50%;
       left: 50%;
       width: 85%;
       color: white;
       font-family: var(--mainFont);
       text-align: center;
       transform: translate(-50%, -50%);
       h2{ 
           display: inline-block;
           position: relative;
           color: white;
           font-size: 3rem;
           letter-spacing: 5px;

        }
        strong{
            display: inline-block;
            padding: 10px 30px;
            margin-bottom: 40px;
            background: #222794;
            font-family: var(--mainFont);
            letter-spacing: 3px;        
        }
        p{ line-height: 2;}
    }
    .main_slider{
        overflow: hidden;
        z-index: 0;
        @include abs0;
        // width: 100%;
        .slide{
            position: absolute;
            width: 100%; 
            height: 100%;
            transition: transform 1s ease-in-out;
        }
        #slide{
            &01{
                left: 0; 
                background: url(/img/idx/bg1.jpg) no-repeat center;
                background-size: cover;
            }
            &02{
                left: 100%;
                background: url(/img/idx/bg2.jpg) no-repeat center; 
                background-size: cover;
            }
            &03{
                left: 200%;
                background: url(/img/idx/bg3.jpg) no-repeat center;
                background-size: cover;
            }
            &04{
                left: 300%;
                background: url(/img/idx/bg4.jpg) no-repeat center;
                background-size: cover;
            }
        }
        #slide_radio01:checked ~ .slide {transform: translateX(0);}
        #slide_radio02:checked ~ .slide {transform: translateX(-100%);}
        #slide_radio03:checked ~ .slide {transform: translateX(-200%);}
        #slide_radio04:checked ~ .slide {transform: translateX(-300%);}
    }
    input{ display: none;}
    .pagination{
        position: absolute;
        z-index: 3;
        bottom: 2rem;
        left: 50%;
        color: white;
        transform: translateX(-50%);
        label{
            width: 24px;
            height: 24px;
            padding: 10px;
            opacity: 0.4;
            color: transparent;
            cursor: pointer;
            position: relative;
            transition: opacity 0.3s ease-in-out;
            &:before, &:after{
                @include aftersty;
                left: 50%;
                top: 50%;
                border-radius: 50%;
                transform: translate(-50%, -50%);
            }
            &:before{
                width: 8px;
                height: 8px;
                background: #fff;
            }
            &:after{
                width: 20px;
                height: 20px;
                border: 1px solid #fff;
            }
        }
    }
    #slide_radio{
        &01:checked ~ .pagination label:nth-child(1),
        &02:checked ~ .pagination label:nth-child(2),
        &03:checked ~ .pagination label:nth-child(3),
        &04:checked ~ .pagination label:nth-child(4){
            opacity: 1;
        }
    }
    #slide_radio{
        &01:checked ~ .pagination label:nth-child(1):after,
        &02:checked ~ .pagination label:nth-child(2):after,
        &03:checked ~ .pagination label:nth-child(3):after,
        &04:checked ~ .pagination label:nth-child(4):after{
            opacity: 1;
        }
    }

}

/* sec02 */
.sec02{
    background: #f5f7fa;
    .cont{
        flex-direction: column;
        justify-content: space-evenly;
    }
    .text_box{ text-align: center;}
    ul{
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding-top: 80px;
    }
    li{
        position: relative;
        width: 23%;
        height: 270px;
        border-radius: 15px;
        box-shadow: 3px 3px 3px 1px #b3b3b3;
        font-family: var(--mainFont);
        img{
            width: 100%;
            height: 100%;
            border-radius: 15px;
            object-fit: cover;
        }
        p{
            position: absolute;
            bottom: 0;
            width: 100%;
            border-radius: 0 0 15px 15px;
            background: #403ab0;
            color: white;
            font-size: 1.2rem;
            line-height: 2.5; 
            text-align: center;;
        }
    }
}

/* sec03 */
.sec03{
    .text_box{
        padding-right: 30px;
    }
    img{ width: 40%;}
}

/* sec04 */
.sec04{
    background: #4540c2;
    img{ width: 25%;}
    .text_box{
        padding-left: 30px;
        color: rgba(255,255,255,0.7);

    }
    h2{ color: white;}
    .more{ 
        background: white;
        color: var(--mainColor);
    }
}

/* sec05 */
.sec05{
    img{ width: 25%;}
    .cont{ align-items: center;}
    .text_box{
        padding-right: 30px;
    }

}

/* sec_btw */
.sec_btw{
    background: #26262b;
    color: white;
    font-size: 2.5rem;
    font-family: var(--mainFont);
    letter-spacing: 2px;
    .cont{
        justify-content: center;
        align-items: center;
        padding: 70px 0;
    }
    a{
        color: white;
        font-size: 1.4rem;
    }
}

/* sec06 */
.sec06{
    .cont{
        flex-direction: row;
        align-items: flex-start;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .left_sec{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
        height: 100%;
        padding-right: 50px;
        ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 25px;
        }
        li{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 45%;
            height: 140px;
            margin-bottom: 30px;
            border: 1px solid #ddd;
            font-family: var(--mainFont);
            p{ 
                margin-top: 15px;
                text-align: center;
            }
            &:nth-child(3){
                background: var(--mainColor);
                a{ 
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    color: white;
                    font-weight: 600;
                    font-size: 1.4rem;
                    font-family: var(--mainFont);
                    text-align: center;
                }
            }
            &:last-child{
                background: var(--mainColor);
                a{ 
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    color: white;
                    font-weight: 600;
                    font-size: 1.4rem;
                    font-family: var(--mainFont);
                    text-align: center;
                }
            }
        }
    }
    h2{
        margin-bottom: 20px; 
        line-height: 2;
    }
    .right_sec{
        width: 50%;
        .root_daum_roughmap{ width: 100%;}
        .wrap_map{ height: 400px;}
    }
}



@media screen and (max-width: 960px){
    h2{ font-size: 1.5rem; }
    .sec02{
        li{ height: 200px;
            p{ font-size: 1rem; }
        }
    }
    .sec06{
        .left_sec{ width: 100%;
            li p{ font-size: 0.8rem;}
        }
        
    }
}

@media screen and (max-width: 760px){
    section .cont{ 
        padding-top: 200px;
        padding-bottom: 200px;
    }
    section:not(.sec01, .sec06){
        .text_box{
            h2{ font-size: 1.5rem; }
            p br{ display: none;}
        }
    }
    .sec02{
        ul{ flex-wrap: wrap;}
        li{ 
            width: 43%;
            height: 150px;
            margin-bottom: 40px;
        }
    }
    .sec03 img{ width: 35%;}
    .sec04 img{ width: 30%;}
    .sec05 img{ width: 30%;}
    .sec_btw{
        .cont{
            padding: 30px 0;
            font-size: 1.8rem;
        }
    }
    .sec06{
        .cont{
            flex-wrap: wrap;
            align-items: center;
        }
        .left_sec{
            width: 100%;
            padding: 0;
            ul{
                width: 100%;
                margin-bottom: 30px;
            }
            li{ width: 48%;}
        }
        .right_sec{
            width: 100%;
            .wrap_map{ height: 250px;}
        }
    }
}

@media screen and (max-width: 480px){
    section .cont{ 
        padding-top: 150px;
        padding-bottom: 150px;
    }
    .sec03, .sec04, .sec05{
        height: 70vh;
        img{ display: none;}
        .text_box{ padding: 0;}
    }
    .sec02{
        li p{ font-size: 0.9rem;}
    } 
    .more{
        position: absolute;
        bottom: -100px;
        padding: 8px 15px;
        font-size: 0.9rem;
    }

}