@import 'mixin';

section{
    width: 100%;
    .cont{
        padding-top: 250px;
        padding-bottom: 250px;
    }
    .text_box{
        position: relative;
        p{ 
            padding-top : 30px;
            line-height: 1.5;
        }
    }
}

.more{
    position: absolute;
    right: 0;
    bottom: -100px;
    padding: 10px 20px;
    border-radius: 25px;   
    background: var(--mainColor);
    color: white;;
    font-family: var(--mainFont);
    &:hover{ color: #ffb81f;}
}

h2{
    color: var(--mainColor); 
    font-size: 2rem; 
}

/* sec01 */
.sec01{
    .main_slider{
        overflow: hidden;
        z-index: 0;
        @include abs0;
        .slide{ width: 100%; height: 100%;}
        #slide{
            &01{
                left: 0; 
                background: red;
            }
            &02{
                left: 100%; 
                background: green;
            }
            &03{
                left: 200%; 
                background: blue;
            }
            &04{
                left: 300%; 
                background: yellow;
            }
        }
    }
}

/* sec02 */
.sec02{
    background: #f5f7fa;
    .cont{
        flex-direction: column;
        justify-content: space-evenly;
    }
    .text_box{ text-align: center;}
    ul{
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding-top: 80px;
    }
    li{
        position: relative;
        width: 23%;
        height: 270px;
        border-radius: 15px;
        box-shadow: 3px 3px 3px 1px #b3b3b3;
        font-family: var(--mainFont);
        img{
            width: 100%;
            height: 100%;
            border-radius: 15px;
            object-fit: cover;
        }
        p{
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 10px 0;
            border-radius: 0 0 15px 15px;
            background: #403ab0;
            color: white;
            font-size: 1.2rem; 
            text-align: center;;
        }
    }
}

/* sec03 */
.sec03{
    .text_box{
        margin-right: auto;
    }
    img{
        width: 40%;
    }
}

/* sec04 */
.sec04{
    background: #4540c2;
    img{ width: 25%;}
    .text_box{
        margin-left: auto;
        color: rgba(255,255,255,0.7);

    }
    h2{ color: white;}
    .more{ 
        background: white;
        color: var(--mainColor);
    }
}

/* sec05 */
.sec05{
    img{ width: 25%;}
    .cont{
        align-items: center;
    }
    .text_box{
        margin-right: auto;
    }

}

/* sec_btw */
.sec_btw{
    background: #26262b;
    color: white;
    font-size: 2rem;
    font-family: var(--mainFont);
    letter-spacing: 2px;
    .cont{
        align-items: center; 
        padding: 90px 0;
    }
    a{
        color: white;
        font-size: 1.4rem;
    }
}

/* sec06 */
.sec06{
    .cont{
        flex-direction: row;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .left_sec{
        display: flex;
        flex-direction: column;
    }
    h2{ line-height: 2;}
    .right_sec{
        width: 40%;
        height: 500px;
        .root_daum_roughmap{
            width: 100%;
            height: 100%;
        }
        .wrap_map{ height: 100%;}
    }
}