:root{
    --mainColor: #3730ba;
    --mainFont: Elice Digital Baeum;
}    

/* mixin */

@mixin clearfix{
    display: block;
    clear: both;
    content: '';
}

@mixin abs0{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@mixin aftersty{
    display: block;
    position: absolute;
    content: "";
}

/* font-face */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Noto+Sans+KR:wght@300;500;700;900&display=swap');

@import url(//font.elice.io/EliceDigitalBaeum.css);